
.bt_jsd{
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.jsd_nr{
	/*height: 1000px;*/
	margin-top: 10px;
	line-height: 50px;
	/*text-align: center;*/
	border-radius: 10px;
	position: relative;
	/*box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);*/
}
.jsd_w{
	height: 265px;
	margin-top: 10px;
	line-height: 50px;
	/*text-align: center;*/
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.jsd_w>img{
	width: 300px;
	position: absolute;
	top: 20px;
	right: 40px;
	border-radius: 10px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.jsd_w>p{
	width: 700px;
	height: 200px;
	position: absolute;
	left: 50px;
	top: 80px;
	line-height: 25px;
	/*background: saddlebrown;*/
}
.jsd_mz1{
	width: 200px;
	height: 60px;
	/*background: saddlebrown;*/
	top: 20px;
	left: 20px;
	position: absolute;
	z-index: 2;
	/* border-radius: 10px; */
	/* box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747); */
}
.jsd_mz{
	margin-top: -10px;
	font-size: 24px;
	/*background: antiquewhite;*/
	/*position: absolute;*/
	height: 35px;
	line-height: 75px;
	text-align: center;
}
.jsd_mz:hover{
	color: darkorange;
}
.ml_sl{
	width: 260px;
	height: 50px;
	/* background: #0093E9; */
	position: absolute;
	bottom: 40px;
	left: 30px;
}
.ml_sl>p{
	float: left;
	margin-left: 20px;
}
.ml_xd{
	position: absolute;
	bottom: 50px;
	right: 460px;
	width: 100px;
	height: 40px;
	background: #03BDE4;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	transition: 0.5s;
}
.ml_xd:hover{
	background: darkorange;
	color: #ffffff;
}