html,
body {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

h3,p,.daohang>ul li,
.time:hover {
	cursor: pointer;
}

html {
	--bg: #ebecf0;
	--base: #222;
	--radius: 50px;
	background: var(--bg);
}

* {
	/*color: var(--base)!important;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: '楷体_GB2312', sans-serif;
}

body {
	/*background: #ebecf0;*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/*background: #ebecf0;*/
	color: var(--base);
	background: var(--bg);
}

img {
	outline: none ! important;
}

#zhu {
	width: 1200px;
	/*background: #ebecf0;*/
	margin: 0 auto;
	position: relative;
}


/*圆角样式,平移*/

.dingbu,
.bottom {
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}


/*平移*/

.bottom,
.zhu1 {
	animation: zhu1 1s linear forwards;
}


/*切换样式*/

.buttons {
	display: block;
	margin-left: 1250px;
	margin-top: -5px;
	justify-content: flex-start;
	z-index: 999;
	position: fixed;
}

button {
	color: var(--base);
	display: inherit;
	background: var(--bg);
	width: 60px;
	height: 60px;
	font-weight: 6000;
	margin-top: 20px;
	font-family: termina, sans-serif;
	font-size: 2rem;
	border-radius: var(--radius);
	z-index: 1;
	transform-style: preserve-3d;
	transition: 0.2s ease-out;
}

button:hover.main span {
	color: #fff;
	mix-blend-mode: difference;
}

button:hover.alt span {
	mix-blend-mode: difference;
	color: white;
}

button.main {
	background: var(--base);
	color: var(--bg);
}

button::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	z-index: 2;
	box-shadow: -5px -6px 10px var(--bg);
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	pointer-events: none;
}

button::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	z-index: 2;
	box-shadow: 5px 10px 15px var(--bg);
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	pointer-events: none;
}

button:active.alt::after {
	box-shadow: inset 4px 4px 8px var(--bg);
}

button:active.alt::before {
	box-shadow: inset -2px -2px 8px var(--bg);
}

button:active.main::after {
	box-shadow: 2px 5px 6px var(--bg);
}

button:active.main::before {
	box-shadow: inset -2px -2px 8px var(--base);
}


/*日历*/

section .box {
	position: fixed;
	z-index: 100;
	display: none;
}

section .box .containerr {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 330px;
	top: 90px;
	left: 910px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, .5);
	border-right: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	/* -webkit-backdrop-filter: blur(50px); */
	-moz-backdrop-filter: blur(20px);
	/* filter: grayscale(50%); */
	/* filter: opacity(50%) */
	/* filter: blur(2px); */
}

section .box .containerr .dycalendar {
	width: 90%;
}

section .box .containerr .dycalendar table {
	width: 100%;
	margin-top: 30px;
	/*margin: 20px;*/
}

.dycalendar-month-container .dycalendar-body table tr td {
	color: var(--base);
	cursor: pointer;
	/*margin-top: 300px;*/
}

.dycalendar-month-container .dycalendar-body table tr:nth-child(1) td {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	font-weight: 400;
	/*margin-top: 100px;*/
}

.dycalendar-month-container .dycalendar-body table tr td:hover {
	background-color: #fff;
	border-radius: 10px;
	color: #000;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
	background-color: #fff;
	color: #000 !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--base);
	width: 14px;
	height: 13px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.dycalendar-month-container .dycalendar-span-month-year {
	color: var(--base);
	width: 100%;
	height: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.dycalendar-container {
	display: inline-block;
	border: 1px solid #eee;
}

.dycalendar-container.round-edge {
	border-radius: 5%;
	-o-border-radius: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
}

.dycalendar-day-container {
	padding: 10px;
	text-align: center;
	font-family: Arial;
}

.dycalendar-day-container div {
	padding: 0;
	margin-bottom: 10px;
}

.dycalendar-day-container .dycalendar-span-day {
	font-size: 110%;
}

.dycalendar-day-container .dycalendar-span-date {
	font-size: 250%;
}

.dycalendar-day-container .dycalendar-span-month-year {
	font-size: 90%;
}

.dycalendar-month-container {
	/*padding: 10px;*/
	margin-top: 60px;
	text-align: center;
	font-family: Arial;
	height: 300px;
}

.dycalendar-month-container div {
	padding: 0;
	margin-bottom: 10px;
}

.dycalendar-month-container .dycalendar-header {
	position: relative;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn {
	position: absolute;
	top: 0;
	cursor: pointer;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn {
	left: 70px;
	top: -5px;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
	right: 70px;
	top: -5px;
}

.dycalendar-month-container .dycalendar-span-month-year {
	margin: 5px;
	cursor: pointer;
}

.dycalendar-month-container .dycalendar-body table tr td {
	padding: 7px;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
	background-color: #fff;
	color: #fff;
	border-radius: 10px;
}

.dycalendar-container.gradient {
	background: #fff;
	background: linear-gradient(#fff, #d3d3d3);
	background: -o-linear-gradient(#fff, #d3d3d3);
	background: -moz-linear-gradient(#fff, #d3d3d3);
	background: -webkit-linear-gradient(#fff, #d3d3d3);
}

.dycalendar-container.skin-black {
	color: #fff;
	background-color: #111;
	border: 0;
}

.dycalendar-container.skin-black.gradient {
	background: #fff;
	background: linear-gradient(#555, #111);
	background: -o-linear-gradient(#555, #111);
	background: -moz-linear-gradient(#555, #111);
	background: -webkit-linear-gradient(#555, #111);
}

.dycalendar-container.skin-black .dycalendar-target-date,
.dycalendar-container.skin-black .dycalendar-today-date {
	background-color: #fff;
	color: #111;
	border-radius: 2px;
}

.dycalendar-container.skin-blue {
	color: #fff;
	background-color: #3c99d3;
	border: 0;
}

.dycalendar-container.skin-blue.gradient {
	background: #3c99d3;
	background: linear-gradient(#5ebbf5, #3c99d3);
	background: -o-linear-gradient(#5ebbf5, #3c99d3);
	background: -moz-linear-gradient(#5ebbf5, #3c99d3);
	background: -webkit-linear-gradient(#5ebbf5, #3c99d3);
}

.dycalendar-container.skin-blue .dycalendar-target-date,
.dycalendar-container.skin-blue .dycalendar-today-date {
	background-color: #fff;
	color: #3c99d3;
	border-radius: 2px;
}

.dycalendar-container.skin-green {
	color: #fff;
	background-color: #2bb063;
	border: 0;
}

.dycalendar-container.skin-green.gradient {
	background: #2bb063;
	background: linear-gradient(#3dd175, #2bb063);
	background: -o-linear-gradient(#3dd175, #2bb063);
	background: -moz-linear-gradient(#3dd175, #2bb063);
	background: -webkit-linear-gradient(#3dd175, #2bb063)
}

.dycalendar-container.skin-green .dycalendar-target-date,
.dycalendar-container.skin-green .dycalendar-today-date {
	background-color: #fff;
	background-color: #fff;
	color: #975ea4;
	border-radius: 2px;
}

.dycalendar-container.skin-red {
	color: #fff;
	background-color: #e94d40;
}