.sc_banner{
	height: 300px;
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.sc_banner>img{
	width: 1000px;
	height: 480px;
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.bt_sc{
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.sc_nr{
	/*height: 1000px;*/
	margin-top: 10px;
	line-height: 50px;
	/*text-align: center;*/
	border-radius: 10px;
	position: relative;
	/*box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);*/
}
.sc_w{
	height: 450px;
	margin-top: 10px;
	line-height: 50px;
	/*text-align: center;*/
	border-radius: 10px;
	position: relative;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.sc_w>img{
	width: 400px;
	position: absolute;
	top: 20px;
	left: 10px;
	border-radius: 10px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.sc_w>p{
	width: 700px;
	height: 200px;
	position: absolute;
	right: 50px;
	top: 100px;
	line-height: 25px;
	/*background: saddlebrown;*/
}
.sc_w>div{
	width: 200px;
	height: 60px;
	/*background: saddlebrown;*/
	top: 20px;
	left: 700px;
	position: absolute;
	z-index: 2;
	border-radius: 10px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.sc_w>div>p{
	margin-top: -10px;
	font-size: 14px;
	/*background: antiquewhite;*/
	/*position: absolute;*/
	height: 35px;
	text-align: center;
}
.sc_w>div>p:nth-child(1){
	/*top: 0px;*/
	color: darkorange;
}
.sc_w>div>p:nth-child(2){
	/*top: 25px;*/
}